body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#container {
    display: grid;
    grid-gap: 1px; /* gap between grid items */
    width: 512px; /* 100% of viewport width */
    height: 512px; /* 100% of viewport height */
}

#div {
    background-color: red;
    flex: 1;
    border: 1px solid black; /* border for each div */
}